{{define "page"}}
<div id="catlist">
	<a data="new" class="cat_add">Add Main Catergory</a>
	<ul>
		{{range .Cats}}
			<li class="cat_li cat_lv{{len .Ancestors}}">
				<span class="cat_span" id="cat_span_{{.CatId.Hex}}">
					<a class="cat_name" data="{{.CatId.Hex}}">{{.Name}}</a>
					<span class="ui-helper-hidden">
						<a data="{{.CatId.Hex}}" class="cat_add">Add</a>
						<a data="{{.CatId.Hex}}" class="cat_edit">Edit</a>
						<a data="{{.CatId.Hex}}" class="cat_delete">Delete</a>
					</span>			
				</span>
			</li>
		{{end}}
	</ul>
	<span id="cat_span_new"></span>
</div>
<div id="dialog-form-add">
	<form id="cat_form" onsubmit="return false;" action="/admin/cat_submit.html" method="POST">
		<label for="name">Catergory name:</label>
		<input type="text" class="required" id="cat_name" name="name" /><br />
		<input type="hidden" name="parent" id="cat_parent" />
	</form>
</div>
<script type="text/javascript">
$(document).on("mouseenter", ".cat_span", function(){
  $(this).children("span").show("slow");
});
$(document).on("mouseleave", ".cat_span", function(){
  $(this).children("span").hide("fast");
});
$(document).on("click", ".cat_name", function(){
	var a = $(this)
	$.getJSON('/view/catlst.html',
	{
		id : a.attr("data")
	},
	function(data) {
		 appendCatSpan(data, a.attr("data"));
/*
		if (data.length > 0) {
			var u = $('<ul class="catlist"></ul>');
			$.each(data, function(key, val) {
				u.append('<li class="cat_lv'+val.Ancestors.length+'">\
				<span class="cat_span" id="cat_span_'+val.CatId+'">\
					<a class="cat_name" data="'+val.CatId+'">'+val.Name+'</a>\
					<span class="ui-helper-hidden">\
						<a data="'+val.CatId+'" class="cat_add">Add</a>\
						<a data="'+val.CatId+'" class="cat_edit">Edit</a>\
						<a data="'+val.CatId+'" class="cat_delete">Delete</a>\
					</span>\
				</span>\
				</li>');
			});
			a.parent().after(u);
		}
*/
	});
	a.click(false)
});
function appendCatSpan(data, id) {
	if (data.length > 0) {
		var u = $('<ul></ul>');
		$.each(data, function(key, val) {
			u.append('<li class="cat_lv'+(val.Ancestors == null ? 0 : val.Ancestors.length)+'">\
			<span class="cat_span" id="cat_span_'+val.CatId+'">\
				<a class="cat_name" data="'+val.CatId+'">'+val.Name+'</a>\
				<span class="ui-helper-hidden">\
					<a data="'+val.CatId+'" class="cat_add">Add</a>\
					<a data="'+val.CatId+'" class="cat_edit">Edit</a>\
					<a data="'+val.CatId+'" class="cat_delete">Delete</a>\
				</span>\
			</span>\
			</li>');
		});
		$('#cat_span_'+id).after(u);
	}	
}
$(document).on("click", ".cat_add", function(){
  $('#cat_parent').val($(this).attr("data"));
  $("#dialog-form-add").dialog("open");
});
$("#dialog-form-add").dialog({
	autoOpen: false,
	height: 300,
	width: 350,
	modal: true,
	buttons: {
		"Add": function() {
			if($('#cat_form').validate().form()) {
				$.post('/admin/cat_submit.html',
					{
						name: $('#cat_name').val(),
						parent: $('#cat_parent').val()
					},
					function(data){
						appendCatSpan(data, $('#cat_parent').val());
					},
					"json"
				);
				$(this).dialog("close");
			}
		}
	},
	close: function() {
		$('#cat_form').validate().resetForm();
	}
});
$("#cat_form").validate();
</script>
{{end}}
