{{define "page"}}
<form action="{{call .BasePath "newcat2"}}" method="POST">
	<div>
		Catergoty Name: <input type="text" name="Name" />
	</div>
	<div>
		<input type="submit" value="Submit" />
	</div>
</form>
{{end}}