{{define "page"}}
<form action="{{call .BasePath "newthread2"}}" method="POST">
	<select name="CatId">
	{{range .CatLst}}
		<option value="{{.Id.Hex}}">{{.Name}}</option>
	{{end}}
	</select>
	<input type="text" name="Item.Title" />
	<input type="text" name="Item.Description" />
	<textarea name="Content"></textarea>
	<input type="submit" value="Submit" />
</form>
{{end}}