{{define "page"}}
<form action="/admin/post_submit.html" method="POST">
	<div class="form_settings">
		<p>
			<span><label for="title">Title:</label></span>
			<input class="contact" type="text" name="title" />
		</p>
		<p>
			<span><label for="description">Description:</label></span>
			<input class="contact" type="text" name="description" />
		</p>
		<p>
			<span><label for="content">Content:</label></span>
			<textarea class="contact textarea" rows="8" cols="50" name="content"></textarea>
		</p>
		<p>
			<span><label for="catid">Catergory:</label></span>
			<select id="catid" name="catid">
{{range .Cats}}
				<option value="{{.CatId.Hex}}">{{.Name}}</option>
{{end}}
			</select>
		</p>
		<p>
			<span><label>Tags:</label></span>
			<input type="text" name="tags" />
		</p>
		<p style="padding-top: 15px">
			<span>&nbsp;</span>
			<input class="submit" type="submit" name="submit" value="submit">
		</p>
	</div>
</form>
{{end}}
