{{define "page"}}
<h4>
{{range .CatString}}
	<a href="/view/catlst.html?id={{.CatId.Hex}}">{{.Name}}</a> >>
{{end}}
</h4>
<article>
	<h1>{{.Entry.Title}}</h1>
	<p>{{.Entry.Description}}</p>
	<p>{{.Entry.Content}}</p>
</article>
{{end}}